<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="Medical-adminmedPU" transaction-type="JTA">
    <jta-data-source>jdbc/medical-adminmed</jta-data-source>
    <class>entities.medical.KeyManifest</class>
    <class>entities.medical.Persons</class>
    <class>entities.medical.Treatment</class>
    <class>entities.medical.Visit</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
  <persistence-unit name="Crypto-keyproviderPU" transaction-type="JTA">
    <jta-data-source>jdbc/crypto-keyprovider</jta-data-source>
    <class>entities.crypto.Ekey</class>
    <class>entities.crypto.Engine</class>
    <class>entities.crypto.Seckey</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
  <persistence-unit name="Medical-patientPU" transaction-type="JTA">
    <jta-data-source>jdbc/medical-patient</jta-data-source>
    <class>entities.medical.KeyManifest</class>
    <class>entities.medical.Persons</class>
    <class>entities.medical.Treatment</class>
    <class>entities.medical.Visit</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
  <persistence-unit name="Medical-doctorPU" transaction-type="JTA">
    <jta-data-source>jdbc/medical-doctor</jta-data-source>
    <class>entities.medical.KeyManifest</class>
    <class>entities.medical.Persons</class>
    <class>entities.medical.Treatment</class>
    <class>entities.medical.Visit</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
  <persistence-unit name="Medical-nursePU" transaction-type="JTA">
    <provider>oracle.toplink.essentials.PersistenceProvider</provider>
    <jta-data-source>jdbc/medical-nurse</jta-data-source>
    <class>entities.medical.KeyManifest</class>
    <class>entities.medical.Persons</class>
    <class>entities.medical.Treatment</class>
    <class>entities.medical.Visit</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
</persistence>
